# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# =========================
# Virtual environments
# =========================
.venv/
.venv_integration/
.venv_312/
venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Models / Weights
# =========================
*.pth
*.onnx
*.engine

# =========================
# Training / Experiment outputs
# =========================
logs/
wandb/

# =========================
# Large raw datasets
# =========================
data/frames_raw/
data/frames_new/
data/college_dataset/
data/raw_phone/
data/debug_crops/

# Roboflow generated dataset
data/roboflow_export/

# =========================
# Video files
# =========================
*.avi
*.mov
*.mp4
*.mkv
*.webm

# =========================
# Archives
# =========================
*.zip
*.tar
*.tar.gz

# =========================
# OS
# =========================
.DS_Store
Thumbs.db